# reverse hash service url
RHS_URL="https://rhs-staging.polygonid.me" 
# state v2 contract address in the amoy network
CONTRACT_ADDRESS="0x624ce98D2d27b20b8f8d521723Df8fC4db71D79D"
# path to the circuits folder
CIRCUITS_PATH="./circuits" 
# key in hex format with matic balance
WALLET_KEY="" 
# MongoDB connection string, uses in memory Mongo server if not specified
MONGO_DB_CONNECTION=""
# third part yurl to polygon amoy network rpc node
THIRD_PARTY_RPC_URL="" 
# third party contract address in the linea test network
THIRD_PARTY_CONTRACT_ADDRESS=""
# third party key in hex format with matic balance
THIRD_PARTY_WALLET_KEY="" 
